body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 7.5px solid black;
    margin: 2.5rem;
    

}
.btn-container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: #FA0505;
}
.yellow{
    background-color: #80FA05;
}
.green{
    background-color: #05FAFA;
}
.purple{
    background-color: #7F05FA;
}
.flash{
    background-color: white;
}
.userflash{
    background-color: green;
}
h1{
    font-size: 50px;
    color: blue;
}


/* Responsive Layout */
@media (max-width: 768px) {

    h1{
        font-size:2rem;
    }

    h2{
        font-size:1.2rem;
    }

    .btn-container{
        flex-direction:column;
        align-items:center;
    }

    .line-one, .line-two{
        display:flex;
    }

    .btn{
        height:120px;
        width:120px;
        margin:12px;
    }
}

/* Extra small phones */
@media (max-width: 400px){
    .btn{
        height:90px;
        width:90px;
        margin:10px;
    }

    h1{
        font-size:1.6rem;
    }
}




 